h1 {
  color: rgb(0, 0, 0);
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: courier;
  font-size: 140%;
  border: 2px solid rgb(13, 13, 13);
  padding: 50px;
  margin: 50px;
}